In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import joblib

In [4]:
class Perceptron:
  def __init__(self, eta, epochs):
    self.weights = np.random.randn(3) * 1e-4
    print(f"self.weights: {self.weights}")
    self.eta = eta
    self.epochs = epochs

  def activationFunction(self, inputs, weights):
    z = np.dot(inputs, weights)
    return np.where(z > 0 , 1, 0)

  def fit(self, X, y):
    self.X = X
    self.y = y

    X_with_bias = np.c_[self.X, -np.ones((len(self.X), 1))] # concactination
    print(f"X_with_bias: \n{X_with_bias}")

    for epoch in range(self.epochs):
      print(f"for epoch: {epoch}")
      y_hat = self.activationFunction(X_with_bias, self.weights)
      print(f"predicted value: \n{y_hat}")
      error = self.y - y_hat
      print(f"error: \n{error}")
      self.weights = self.weights + self.eta * np.dot(X_with_bias.T, error)
      print(f"updated weights: \n{self.weights}")
      print("#############\n")

  def predict(self, X):
    X_with_bias = np.c_[X, -np.ones((len(self.X), 1))]
    return self.activationFunction(X_with_bias, self.weights)

# AND Operation:

In [6]:
data = {"x1": [0,0,1,1], "x2": [0,1,0,1], "y": [0,0,0,1]}

AND = pd.DataFrame(data)
AND

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

In [7]:
X = AND.drop("y", axis = 1)

In [8]:
Y = AND['y']
Y.to_frame()

   y
0  0
1  0
2  0
3  1

In [37]:
model = Perceptron(eta = 0.5 , epochs = 10)
model.fit(X,Y)

self.weights: [-6.58715740e-05  1.20564054e-04  1.29247431e-05]
X_with_bias:
[[ 0.  0. -1.]
 [ 0.  1. -1.]
 [ 1.  0. -1.]
 [ 1.  1. -1.]]
for epoch: 0
predicted value:
[0 1 0 1]
error:
0    0
1    0
2    1
3    0
Name: Y, dtype: int64
updated weights:
[ 4.99934128e-01  1.20564054e-04 -4.99987075e-01]
#############

for epoch: 1
predicted value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[4.99934128e-01 1.20564054e-04 1.29247431e-05]
#############

for epoch: 2
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[4.99934128e-01 1.20564054e-04 1.29247431e-05]
#############

for epoch: 3
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[4.99934128e-01 1.20564054e-04 1.29247431e-05]
#############

for epoch: 4
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[4.99934128e-01 1.20564054e-04 1.29247431e-05]
#############

for epoch: 5
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[4.99934128e-01 1.20564054e-04 1.29247431e-05]
#############

for epoch: 6
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[4.99934128e-01 1.20564054e-04 1.29247431e-05]
#############

for epoch: 7
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[4.99934128e-01 1.20564054e-04 1.29247431e-05]
#############

for epoch: 8
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[4.99934128e-01 1.20564054e-04 1.29247431e-05]
#############

for epoch: 9
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[4.99934128e-01 1.20564054e-04 1.29247431e-05]
#############

In [38]:
model.predict(X)

array([0, 1, 1, 1])

# OR Operation :

In [39]:
data = {"X1" : [0,0,1,1], "X2" : [0,1,0,1], "Y" : [0,1,1,1]}
OR = pd.DataFrame(data)
OR

   X1  X2  Y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  1

In [40]:
x = OR.drop("Y" , axis = 1)
x

   X1  X2
0   0   0
1   0   1
2   1   0
3   1   1

In [41]:
Y = OR['Y']
Y.to_frame()

   Y
0  0
1  1
2  1
3  1

In [42]:
model = Perceptron(eta = 0.5 , epochs = 10)
model.fit(x,Y)

self.weights: [-1.95386708e-04 -4.90949959e-05 -5.61796456e-05]
X_with_bias:
[[ 0.  0. -1.]
 [ 0.  1. -1.]
 [ 1.  0. -1.]
 [ 1.  1. -1.]]
for epoch: 0
predicted value:
[1 1 0 0]
error:
0   -1
1    0
2    1
3    1
Name: Y, dtype: int64
updated weights:
[ 0.99980461  0.49995091 -0.50005618]
#############

for epoch: 1
predicted value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[ 9.99804613e-01  4.99950905e-01 -5.61796456e-05]
#############

for epoch: 2
predicted value:
[1 1 1 1]
error:
0   -1
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[0.99980461 0.49995091 0.49994382]
#############

for epoch: 3
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[0.99980461 0.49995091 0.49994382]
#############

for epoch: 4
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[0.99980461 0.49995091 0.49994382]
#############

for epoch: 5
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[0.99980461 0.49995091 0.49994382]
#############

for epoch: 6
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[0.99980461 0.49995091 0.49994382]
#############

for epoch: 7
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[0.99980461 0.49995091 0.49994382]
#############

for epoch: 8
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[0.99980461 0.49995091 0.49994382]
#############

for epoch: 9
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[0.99980461 0.49995091 0.49994382]
#############

In [43]:
model.predict(x)

array([0, 1, 1, 1])

In [44]:
model.weights

array([0.99980461, 0.49995091, 0.49994382])

# NOR Operation :

In [46]:
data = {"X1" : [0,0,1,1], "X2" : [0,1,0,1], "Y" : [0,1,1,1]}
NOR = pd.DataFrame(data)
NOR

   X1  X2  Y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  1

In [47]:
x = NOR.drop("Y" , axis = 1)
x

   X1  X2
0   0   0
1   0   1
2   1   0
3   1   1

In [48]:
Y = NOR['Y']
Y.to_frame()

   Y
0  0
1  1
2  1
3  1

In [49]:
model = Perceptron(eta = 0.5 , epochs = 10)
model.fit(x,Y)

self.weights: [1.20453697e-04 2.57471523e-04 7.50497513e-05]
X_with_bias:
[[ 0.  0. -1.]
 [ 0.  1. -1.]
 [ 1.  0. -1.]
 [ 1.  1. -1.]]
for epoch: 0
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

for epoch: 1
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

for epoch: 2
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

for epoch: 3
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

for epoch: 4
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

for epoch: 5
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

for epoch: 6
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

for epoch: 7
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

for epoch: 8
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

for epoch: 9
predicted value:
[0 1 1 1]
error:
0    0
1    0
2    0
3    0
Name: Y, dtype: int64
updated weights:
[1.20453697e-04 2.57471523e-04 7.50497513e-05]
#############

In [50]:
model.predict(x)

array([0, 1, 1, 1])

In [51]:
model.weights

array([1.20453697e-04, 2.57471523e-04, 7.50497513e-05])